[data-theme='dark'] {
    --bg-color: #222222 ;
    --text-color: #ffffff;
    --menu-bar:#ffffff;
    --image-color:#3b3535;
    --btn-color:#554e4e;
    --btnhover-color:rgb(61, 58, 58);
    --borderright-color:#4e4c4c;
    --resume-box:rgb(61, 58, 58);
    --box-shadow:rgba(61, 58, 58,0.8);
    --border-skill:rgb(58, 55, 55);

    


}

[data-theme='light'] {
    
    --bg-color:#E6E6E6 ;
    --text-color: #222222;
    --menu-bar:black;
    --image-color:#E6E6E6;
    --btn-color:#a19c9c;
    --btnhover-color:#c9c0c0;
    --borderright-color:#8f8c8c;
    --resume-box:#c7c2c2;
    --box-shadow:rgba(161, 156, 156,0.8);
    --border-skill:rgb(168, 164, 164);

    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}


