[data-theme='dark'] {
    --bg-color: #222222 ;
    --text-color: #ffffff;
    --menu-bar:#ffffff;
    --image-color:#3b3535;
    --btn-color:#554e4e;
    --btnhover-color:rgb(61, 58, 58);
    --borderright-color:#4e4c4c;
    --resume-box:rgb(61, 58, 58);
    --box-shadow:rgba(61, 58, 58,0.8);
    --border-skill:rgb(58, 55, 55);

    


}

[data-theme='light'] {
    
    --bg-color:#E6E6E6 ;
    --text-color: #222222;
    --menu-bar:black;
    --image-color:#E6E6E6;
    --btn-color:#a19c9c;
    --btnhover-color:#c9c0c0;
    --borderright-color:#8f8c8c;
    --resume-box:#c7c2c2;
    --box-shadow:rgba(161, 156, 156,0.8);
    --border-skill:rgb(168, 164, 164);

    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}


@media only screen and (max-width:768px) {


    .aboutbody {
        padding: 0 2em;
        flex-wrap: wrap;
    }

    .parabody {
        line-height: normal;

    }

    .paragraph {
        word-wrap: normal;
        width:auto;
    }

    #leftSide {
        display: flex;
        position: absolute;
        top: 4em;
        left: 0;
        transform: translateX(-120%);
        transition: all 1s ease;
        z-index: 1;
        border-right: none;
        box-shadow: 0px 0px 10px var(--border-skill);


    }

    #leftSide.active{
        transform: translateX(0);
    }

    .openMenu {
        display: flex;
    }

    .closeMenu{
        display: flex;
    }

    main{
        margin: 0;
    }

    .icons {
        padding-top: 0.5em;
    }

    .Uppers{
        padding-bottom: 5em;
    }

    #about2{
        padding-bottom: 5em;
    }

    .Skills{
        padding-bottom: 5em;
    }

    .preview1{
        display: flex;
        position: absolute;
        bottom: 1em;
        padding: 0.5em 1em;
        background-color: var(--bg-color);
        border: none;
        box-shadow: 0px 0px 10px var(--box-shadow);
        font-weight: 600;
    }

    .first1{
        position: relative;
    }

}

